.content {
  text-align: center;
  color: black; }
  .content h2 {
    text-align: left;
    margin-left: 275px; }
  .content .shirts .product {
    border: 2px solid black;
    margin-bottom: 100px;
    background-color: rgba(61, 61, 61, 0.8);
    margin-top: 50px;
    height: 500px;
    width: 700px;
    padding: 25px;
    border-radius: 5px; }
    .content .shirts .product .img {
      border: 2px solid black;
      border-radius: 5px;
      display: inline-block;
      width: 400px; }
      .content .shirts .product .img img {
        max-width: 100%; }
    .content .shirts .product .productInfo {
      border: 2px solid black;
      display: inline-block;
      border-radius: 5px; }
